.container {
	position: relative;
  color: #333;
  background: #419be0;
}

.slider-bar {
  padding: 20px;
}

.focus {
  position: absolute;
  border: 3px solid red;
  width: 200px;
  height: 200px;
  top: 20px;
  left: 20px;
}

.focus.second {
  top: 260px;
}