.container {
	position: relative;
  color: #333;
  background: aliceblue;
}

.slider-bar {
  padding: 20px;
}

.focus {
  position: absolute;
  border: 3px solid tomato;
  width: 200px;
  height: 200px;
  top: 20px;
  left: 20px;
}

.focus.slider {
  top: 20px;
}

.focus.slider2 {
  top: 260px;
}

.focus.slider3 {
  top: 500px;
}

.focus.slider4 {
  top: 740px;
}